/* Clients logo css
============================================================================================ */
.client_logo_area .client_logo_item {
  width: calc(100% / 5);
  float: left;
  text-align: center; }

/* End Clients logo css
============================================================================================ */
